@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Elvish;
    src: url('../src/Assets/fonts/Elvish.ttf') format("truetype");
  }
  @font-face {
    font-family: Hobbiton;
    src: url('../src/Assets/fonts/Hobbiton.ttf') format("truetype");
  }
  @font-face {
    font-family: KhuzdulErebor;
    src: url('../src/Assets/fonts/KhuzdulErebor.ttf') format("truetype");
  }
}
